source https://nuget.org/api/v2

nuget FSharp.Core redirects: force
nuget FsLexYacc
nuget FSPowerPack.Core.Community

nuget NUnit
nuget NUnit.Runners
github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs

group Build
  source https://nuget.org/api/v2

  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  nuget YC.FsYARD 0.1.5033.0 framework: >= net45
  nuget FsLexYacc
  github fsharp/FAKE modules/Octokit/Octokit.fsx
