source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

nuget NUnit
nuget NUnit.Runners
github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs

group Build
  source https://nuget.org/api/v2

nuget FSharpx.Collections.Experimental
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting
  github fsharp/FAKE modules/Octokit/Octokit.fsx